<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<!-- Need to pass in username -->
<body>
 
    <a href="/users/balance">
        <button type="button" id="balance">Check Balance</button>
      </a>   
      <a href="/users/deposit">
        <button type="button" id="deposit">Deposit</button>
      </a> 
      <a href="/users/withdraw">
        <button type="button" id="withdraw">Withdraw</button>
      </a>
    
</body>
</html>