<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <a href="/users/account/checkings">
        <button type="button" id="checking">Checking Accounts</button>
      </a>   
      <a href="/users/account/savings">
        <button type="button" id="saving">Saving Accounts</button>
      </a> 
      <a href="/users/account/loans">
        <button type="button" id="loan">Loan Accounts</button>
      </a>
    
</body>
</html>