<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Information</title>
</head>
<body>
    <h1>Am0unt B0rr0w3d: <%= originalBalance %></h1>
    <h1>B4l4nce: <%= balance %></h1>
    <h1>P4y0ff D4t3: <%= dueDate %></h1>

    
    
  
</body>
</html>