<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>BOC Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pleasle Sign Up</h1>
    <form action="/users/mainpage" method="GET">
      <label>Username: <input type="text"></label>
      <br>
      <br>
      <label>Password: <input type="password" id="pwd1"></label>
      <label>Password Confirmation: <input type="password" id="pwd2"></label>
      <br>
      <br>
    </form>
    <script src="register.js"></script>
  </body>
</html>
                               