<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>BOC Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Bank of Corvallis</h1>
    <form action="/users/mainpage" method="GET">
      <label>Username: <input type="text" required></label>
      <br>
      <br>
      <label>Password: <input type="password" required></label>
      <br>
      <br>
      <button type="submit">Login</button>
    </form>
    <a href="/users/register">
      <button type="button" id="register">Sign Up</button>
    </a>
    <script src="register.js"></script>
  </body>
</html>
                               